.ReactModal__Overlay__LoginRegister {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.ReactModal__Content__LoginRegister {
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  width: 40rem;
  margin-inline-start: auto;
  margin-inline-end: auto;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}
